<h1>Listing incidents</h1>

<table>
  <tr>
    <th>Agency</th>
    <th>Complaint type</th>
    <th>Descriptor</th>
    <th>Created</th>
    <th>Closed</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @incidents.each do |incident| %>
  <tr>
    <td><%= incident.agency %></td>
    <td><%= incident.complaint_type %></td>
    <td><%= incident.descriptor %></td>
    <td><%= incident.created %></td>
    <td><%= incident.closed %></td>
    <td><%= link_to 'Show', incident %></td>
    <td><%= link_to 'Edit', edit_incident_path(incident) %></td>
    <td><%= link_to 'Destroy', incident, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Incident', new_incident_path %>
