<div class="topbar">
      <div class="fill">
        <div class="container">
          <div class="brand"><%= link_to "uh...partments", root_path %>
	</div>
          <ul class="nav">
            <li><%= link_to "About", about_path %></li>
          </ul>
        </div>
      </div>
    </div>
<div class="container">
<div class="row">
	</div>
	<div class="row">
	
  <div class="span16">
	<h3>Add your location:</h3>

	<%= form_for User.new do |f| %>
	  <p>
		'POINT (-74.03576870006731 40.6191652733036)'
	    <%= f.label :location %><br />
	    <%= f.text_field :location %>
	  </p>
	  <p><%= f.submit %></p>
	<% end %>
	
	<% @users.each do |user| %>
	  <tr>
		<td><%= user.id %></td>
	    <td><%= user.location %></td>
		<td><%= link_to 'Edit', edit_user_path(user) %></td>
	    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :destroy %></td>
	<% end %>