<%= form_for(@laundromat) do |f| %>
  <% if @laundromat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@laundromat.errors.count, "error") %> prohibited this laundromat from being saved:</h2>

      <ul>
      <% @laundromat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :lat %><br />
    <%= f.text_field :lat %>
  </div>
  <div class="field">
    <%= f.label :lon %><br />
    <%= f.text_field :lon %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
