<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @laundromat.name %>
</p>

<p>
  <b>Lat:</b>
  <%= @laundromat.lat %>
</p>

<p>
  <b>Lon:</b>
  <%= @laundromat.lon %>
</p>


<%= link_to 'Edit', edit_laundromat_path(@laundromat) %> |
<%= link_to 'Back', laundromats_path %>
