<div class="topbar">
      <div class="fill">
        <div class="container">
          <div class="brand"><%= link_to "uh...partments", root_path %>
	</div>
          <ul class="nav">
          </ul>
        </div>
      </div>
    </div>

<div class="container">
  <div class="content">
    <div class="page-header">
	<br><br><br>
	  <center>	<h2><%= @building.address %>, 
		<% if @building.city != @building.nabename.upcase %>
			<%= @building.nabename.upcase %>, <%= @building.city %> </h2>	</div>
			<% else %>
			<%= @building.city %> </h2>	</div>
			<% end %></center>
	
	</div>
<div class="row">
  <div class="span12" align="center"><br>
    <h2><%= @incidents_open.count %> 
		<% if @incidents_open.count == 1 %> Open Complaint</h2>
		<% else %> Open Complaints </h2><% end %><br>
    <center><table class="bordered-table" summary="building incidents" id="incidents_open" align="center">
		<div id="incidents_open">
<% unless @incidents_open.empty? %> 
<tr>
  <th>Complaint About</th>
  <th>Reported</th>
  <th>Time to Close</th>
</tr>     
<%= render @incidents_open %>
	  </table></center>
	<% if @incidents_open.next_page %>
	  <center><%= link_to "More", params.merge(page: @incidents_open.next_page) %></center>
	<% end %>
<% else %>
</table>      
<h3><center><br>Remember: Be Thorough!
	<br>No complaints does not guarantee<br> this is a good building.</center></h3>	
<% end %>
</div>
<div class="span12" align="center">
	<br><br><br>
    <h2><%= @building.incidents.isclosed.count %>
	<% if @incidents_closed.count == 1 %> 
		 Closed Complaint</h2>
		<% else %> Closed Complaints </h2><% end %>
	<br>
      <center><table class="bordered-table" summary="building incidents" id="incidents_closed">
<% unless @incidents_closed.empty? %>   
	<tr>	
	  <th>Complaint About</th>
	  <th>Reported</th>
	  <th>Time to Close</th>
      </tr>
</div>
</div>
<div class="row">
<div id="incidents_closed">
      <%= render @incidents_closed %>
      </table><center>
	<% if @incidents_closed.next_page %>
	  <center><%= link_to "More", params.merge(page: @incidents_closed.next_page) %></center>
	<% end %>
<% else %>
	</table>      
	<h3><center><br>Remember: Be Thorough!
	<br>No complaints does not guarantee<br> this is a good building.</center></h3>	
<% end %>
	<br><br><br>
	</div>
	</div>
  </div>
<div class="row">
<div class="span16">
	<center><h2>Neighborhood Rental Info</h2><h3> provided by Streeteasy<h3></center>
		    <table>
			<th>Bedrooms</th>
			<th>Average Rental Price</th>
			<th>Average Square Feet</th>
			<th>Current Listings</th>		
			</tr>		
			<td><p>Studio</p></td>		
			<td>$<%= number_with_delimiter(@building.streeteasy_0br.first, :delimiter => ',') %></td>
			<td><%= number_with_delimiter(@building.streeteasy_0br.second, :delimiter => ',') %> sqft</td>
			<td><%= link_to @building.streeteasy_0br.third, @building.streeteasy_0br.fourth %></td>
			</tr>		
			<td><p>1 BR</p></td>		
			<td>$<%= number_with_delimiter(@building.streeteasy_1br.first, :delimiter => ',') %></td>
			<td><%= number_with_delimiter(@building.streeteasy_1br.second, :delimiter => ',') %> sqft</td>
			<td><%= link_to @building.streeteasy_1br.third, @building.streeteasy_1br.fourth %></td>
			</tr>
			<td><p>2 BR</p></td>		
			<td>$<%= number_with_delimiter(@building.streeteasy_2br.first, :delimiter => ',') %></td>
			<td><%= number_with_delimiter(@building.streeteasy_2br.second, :delimiter => ',') %> sqft</td>
			<td><%= link_to @building.streeteasy_2br.third, @building.streeteasy_2br.fourth %></td>
			</table>
		</div>
		</div>

</div>
<div class="row">
<div class="span16"><center><h2>Nearby Businesses</h2><h3>recommended by Foursquare</h3></center>
	<table>
    <tr><td><strong><%= @building.foursquare_explore[0]['venue']['name']  %></strong><br><%= @building.foursquare_explore[0]['venue']['categories'][0]['name']  %></td>
        </tr>
		<tr><td><strong><%= @building.foursquare_explore[1]['venue']['name']  %></strong><br><%= @building.foursquare_explore[1]['venue']['categories'][0]['name']   %></td>
	        </tr>
		    <tr><td><strong><%= @building.foursquare_explore[2]['venue']['name']  %></strong><br><%= @building.foursquare_explore[2]['venue']['categories'][0]['name']  %></td>
		        </tr>
				<tr><td><strong><%= @building.foursquare_explore[3]['venue']['name']  %></strong><br><%= @building.foursquare_explore[3]['venue']['categories'][0]['name']   %></td>
			        </tr>
	</table>
</div>
</div>

