<div class="topbar">
      <div class="fill">
        <div class="container">
          <div class="brand"><%= link_to "uh...partments", root_path %>
	</div>
          <ul class="nav">
            <li><%= link_to "About", about_path %></li>
          </ul>
        </div>
      </div>
    </div>

<div class="container">
  <div class="content">
    <div class="page-header">
	  <h2><%= @building.address %>, 
	<% if @building.city != @building.nabename.upcase %>
		<%= @building.nabename.upcase %>, <%= @building.city %> </h2>	</div>
		<% else %>
		<%= @building.city %> </h2>	</div>
		<% end %>
<div class="row">
  <div class="span8">
    <h2><%= @incidents_open.count %> 
<% if @incidents_open.count == 1 %> Open Complaint</h2>
<% else %> Open Complaints </h2>
<% end %>
    <table class="bordered-table" summary="building incidents" id="incidents_open">
		  <tr>
		    <th>Complaint About</th>
		    <th>Reported</th>
		    <th>Time to Close</th>
		  </tr>
		<div id="incidents_open">
<% unless @incidents_open.empty? %>      
<%= render @incidents_open %>
	  </table>
	<% if @incidents_open.next_page %>
	  <center><%= link_to "More", params.merge(page: @incidents_open.next_page) %></center>
	<% end %>
<% else %>
      </table>      
<h4><center><br>Remember: Be Thorough!
	<br>No complaints does not guarantee this is a good building.</center></h4>	
<% end %>
</div>

<div class="span8">
    <h2><%= @building.incidents.isclosed.count %>
	<% if @incidents_closed.count == 1 %> Closed Complaint</h2>
	<% else %> Closed Complaints </h2><% end %>
      <table class="bordered-table" summary="building incidents" id="incidents_closed">
	  <thead>		
	  <th>Complaint About</th>
	  <th>Reported</th>
	  <th>Time to Close</th>
      </thead>
<div id="incidents_closed">
<% unless @incidents_closed.empty? %>      
      <%= render @incidents_closed %>
      </table>
	<% if @incidents_closed.next_page %>
	  <center><%= link_to "More", params.merge(page: @incidents_closed.next_page) %></center>
	<% end %>
<% else %>
	</table>      
	<h4><center><br>Remember: Be Thorough!
	  <br>No complaints does not guarantee this is a good building.</center></h4>	
<% end %>
	</div>
  </div>
</div>
<div class="row">
<div class="span8">
	<center><h2>Neighborhood Rental Info</h2><h3> provided by Streeteasy<h3></center>
		<table class="bordered-table">
			<th>Average Rental Price</th>
			<th>Average Square Feet</th>
			<th>Current Listings</th>
			</tr>
	<td>$<%= @building.streeteasy.first %></td>
	<td><%= @building.streeteasy.second %> sqft</td>
	<td><%= @building.streeteasy.third %></td>
		</table>
</div>
<div class="span8"><center><h2>Nearby Businesses</h2><h3>provided by Foursquare</h3></center>
<center><p>Coming Soon!</p></center>
</div>
</div>