<div class="topbar">
      <div class="fill">
        <div class="container">
          <div class="brand"><%= link_to "uh...partments", root_path %>
	</div>
          <ul class="nav">
          </ul>
        </div>
      </div>
    </div>

<div class="container">
  <div class="content">
    <div class="page-header">
	  <center><h2><%= @building.address %>, <%= @building.city %> </h2></center>
	</div>
<div class="row">
  <div class="span12" align="center"><br>
    <h2><%= @incidents_open.count %> 
		<% if @incidents_open.count == 1 %> Open Complaint</h2>
		<% else %> Open Complaints </h2><% end %><br>
    <center><table class="bordered-table" summary="building incidents" id="incidents_open" align="center">
		<div id="incidents_open">
<% unless @incidents_open.empty? %> 
<tr>
  <th>Complaint About</th>
  <th>Reported</th>
  <th>Time to Close</th>
</tr>     
<%= render @incidents_open %>
	  </table></center>
	<% if @incidents_open.next_page %>
	  <center><%= link_to "More", params.merge(page: @incidents_open.next_page) %></center>
	<% end %>
<% else %>
</table>      
<h3><center><br>Remember: Be Thorough!
	<br>No complaints does not guarantee<br> this is a good building.</center></h3>	
<% end %>
</div>
<div class="span12" align="center">
	<br><br><br>
    <h2><%= @building.incidents.isclosed.count %>
	<% if @incidents_closed.count == 1 %> 
		 Closed Complaint</h2>
		<% else %> Closed Complaints </h2><% end %>
	<br>
      <center><table class="bordered-table" summary="building incidents" id="incidents_closed">
<% unless @incidents_closed.empty? %>   
	<tr>	
	  <th>Complaint About</th>
	  <th>Reported</th>
	  <th>Time to Close</th>
      </tr>
</div>
</div>
<div class="row">
<div id="incidents_closed">
      <%= render @incidents_closed %>
      </table><center>
	<% if @incidents_closed.next_page %>
	  <center><%= link_to "More", params.merge(page: @incidents_closed.next_page) %></center>
	<% end %>
	<br><br><br>
	</div>
	</div>
  </div>
<div class="row">
<div class="span16">
	<center><h2>Neighborhood Rental Info</h2><h3> provided by Streeteasy<h3></center>
		<table class="bordered-table">
			<th>Average Rental Price</th>
			<th>Average Square Feet</th>
			<th>Current Listings</th>
			</tr>
	<td>$<%= @building.streeteasy.first %></td>
	<td><%= @building.streeteasy.second %> sqft</td>
	<td><%= @building.streeteasy.third %></td>
		</table>
		</div>
<% else %>
		</table>      
		<h3><center><br>Remember: Be Thorough!
		<br>No complaints does not guarantee<br> this is a good building.</center></h3>	
<% end %>
</div>
<div class="row">
<div class="span16"><center><h2>Nearby Businesses</h2><h3>provided by Foursquare</h3></center>
<center><p>Coming Soon!</p></center>
</div>
</div>

