<div class="topbar">
      <div class="fill">
        <div class="container">
          <div class="brand"><%= link_to "uh...partments", root_path %>
	</div>
          <ul class="nav">
            <li><%= link_to "About", about_path %></li>
          </ul>
        </div>
      </div>
    </div>

<div class="container">
  <div class="content">
    <div class="page-header">
	  <h2><%= @building.address %>, <%= @building.city %> </h2>
	<p><%= @building.streeteasy %></p>
	</div>
<div class="row">
  <div class="span8">
    <h2><%= @incidents_open.count %> 
<% if @incidents_open.count == 1 %> Open Complaint</h2>
<% else %> Open Complaints </h2><% end %>
    <table class="bordered-table" summary="building incidents" id="incidents_open">
		  <tr>
		    <th>Agency</th>
		    <th>Complaint About</th>
		    <th>Reported</th>
		    <th>Time to Close</th>
		  </tr>
		<div id="incidents_open">
<% unless @incidents_open.empty? %>      
<%= render @incidents_open %>
	  </table>
	<% if @incidents_open.next_page %>
	  <center><%= link_to "More", params.merge(page: @incidents_open.next_page) %></center>
	<% end %>
<% else %>
</table>      
<h4><center>(None)</center></h4>	
<% end %>
</div>

<div class="span8">
    <h2><%= @building.incidents.isclosed.count %>
	<% if @incidents_closed.count == 1 %> Closed Complaint</h2>
	<% else %> Closed Complaints </h2><% end %>
      <table class="bordered-table" summary="building incidents" id="incidents_closed">
	  <thead>		
	  <th>Agency</th>
	  <th>Complaint About</th>
	  <th>Reported</th>
	  <th>Time to Close</th>
      </thead>
<div id="incidents_closed">
      <%= render @incidents_closed %>
      </table>
	<% if @incidents_closed.next_page %>
	  <center><%= link_to "More", params.merge(page: @incidents_closed.next_page) %></center>
	<% end %>
	</div>
  </div>
</div>
</div>
