<!DOCTYPE html>
<html>
<head>
  <title>uhpartments</title>
  <%= stylesheet_link_tag 'application-all' %>
  <%= stylesheet_link_tag 'application-mobile' if mobile_device? %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="dekstop">

<%= yield %>

</body>
</html>
