<!DOCTYPE html>
<meta name="format-detection" content="telephone=no" />
<html>
<head>
  <title>uhpartments</title>
  <%= stylesheet_link_tag "application-all" %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<div class="topbar">
<div class="fill">
<div class="container">
<div class="brand"><%= link_to "uh...partments", root_path %>
	</div>
          <ul class="nav">
            <li><%= link_to "About", about_path %></li>
          </ul>
        </div>
      </div>
    </div>
<body>

<%= yield %>

</body>
</html>
