<!DOCTYPE html>
<html>
<head>
  <title>uhpartments</title>
  <%= stylesheet_link_tag 'application-all', :media => 'all' %>
  <%= javascript_include_tag "https://js.stripe.com/v1/", "application" %>  <%= csrf_meta_tags %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
  <%= analytics_init if Rails.env.production? %>
  <meta name="format-detection" content="telephone=no" />

</head>
<div class="topbar" id="nav">
<div class="fill" id="fill">
<div class="container">
<% if user_signed_in? %><div class="brand"><%= link_to "UhpartmentsPro", '/pro' %>
</div>
<ul class="nav">
  <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
	</div>
<% else %>
<div class="brand"><%= link_to "uh...parments", root_path %>
	</div>
          <ul class="nav">
            <li><%= link_to "About", about_path %></li>
<% end %>
          </ul>
        </div>
      </div>
    </div>
<body>
	       <p class="alert"><%= alert %></p>

<%= yield %>
<%= javascript_include_tag 'impress' %>
</body>
</html>
